.info-aside {
  background-color: blueviolet;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

.info-aside ul {
  display: flex;
  gap: 30px;
  padding: 5px;
  justify-content: space-between;
}

.info-aside ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.container-aside {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}





